// ================================================================================================
// 	File Name: app-email.scss
// 	Description: SCC file for email application page.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

$email_read: $body-bg;
$email_selected_border: #e4e1e8;
$email_details_header_height: 5rem;

.email-application {
  .content-area-wrapper {
    border: 1px solid $border-color;
    border-top: none;
    border-radius:0px;
    // Sidebar area starts
    .sidebar {
      .email-app-sidebar {
        width: $menu-expanded-width;
        height: inherit;
        background-color: $white;
        border-top-left-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
        transition: all 0.3s ease, background 0s;
        z-index: 210;
        .email-app-menu {
          width: 100%;
          height: 100%;
          z-index: 3;
          .compose-btn {
            padding: 1.5rem;
          }
          .sidebar-menu-list {
            position: relative;
            height: calc(100% - 115px); // search section height 80px
          }
        }
      }
      .list-group .list-group-item {
        padding: 0.58rem 1.5rem;
        border: 0;
        font-weight: $font-weight-bold;
        // letter-spacing: 0.4px;
        border-left: 2px solid transparent;
        border-bottom: 1px solid #ebe9f1;
        border-radius: 0;
        .MuiBreadcrumbs-ol{
          font-size: 11pt;
          font-family: "Helvetica Neue", "Regular" !important;
          color: #444444;
              }        
        h5{
          font-size: 14pt;
          color: #444444;
          font-family: "Helvetica Neue","Medium" !important;
        }
        .badge-white{
          font-size: 9pt;
          font-family: "Helvetica Neue", "Medium" !important;
          background: #EE3224;
        }
        + .list-group-item.active {
          margin-top: 0;
        }
        &:hover,
        &:focus,
        &.active {
          background: transparent;
          color: $primary;
        }
        &.active {
          // border-color: #7367f0;
          h5{
            color:#EE3224;
          }

        }
      }
    }
    // Sidebar area ends

    // Right content area common css starts
    .content-right {
      width: calc(100% - #{$menu-expanded-width} - 164px);
      border-left: 1px solid $border-color;
      .email-app-list {
        height: 100%;
      }
      .app-fixed-search {
        padding: 0.35rem 0.5rem;
        border-bottom: 1px solid $border-color;
        background-color: $white;
        border-top-right-radius: $border-radius;

        .input-group:focus-within {
          box-shadow: none;
        }
        input,
        .input-group-text {
          border: 0;
          background-color: transparent;
        }
      }
      .action-icon {
        cursor: pointer;
      }
    }
    // Right content area common css End
    // Sidebar toggle icon
    .sidebar-toggle {
      cursor: pointer;
      float: left;
    }
    .go-back {
      cursor: pointer;
    }

    // Email user list area
    .email-user-list {
      position: relative;
      height: calc(
        100% - calc(3.49rem + 1.32rem)
      ); // ? search box height (3.49rem) + select all section height (3.32rem)
      .email-media-list {
        padding: 0;
        margin: 0;
        // Set delay per List Item
        @for $i from 1 through 5000 {
          li:nth-child(#{$i}) {
            animation-delay: 0.1s * $i;
          }
        }
        li {
          cursor: pointer;
          transition: all 0.2s, background 0s, border-color 0s, color 0s;
          animation: fadeIn 0.5s linear;
          animation-fill-mode: both;
          position: relative;
          background: $white;
          &.media {
            padding: ($spacer + 0.5);
            &:hover {
              transform: translateY(-2px);
              // box-shadow: 0 3px 10px 0 $border-color;
              transition: all 0.2s;
              z-index: 1;
            }
            .media-left {
              display: flex;
              flex-direction: column;
            }
            .media-body {
              overflow: hidden;
            }
          }
          // Email avatar style
          .avatar {
            margin-bottom: 0.65rem;
          }
          .avatar,
          .avatar img {
            height: $avatar-size + 8;
            width: $avatar-size + 8;
          }

          // read email
          &.mail-read {
            background-color: $email_read;
          }
          // selected email
          &.selected-row-bg {
            background-color: rgba($primary, 0.06);
            &:not(:first-child) {
              border-color: $email_selected_border;
            }
          }
          &:not(:first-child) {
            border-top: 1px solid $border-color;
          }
          .mail-details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.55rem;
          }
          .mail-date {
            color: $text-muted;
            font-size: 0.857rem;
          }
          .mail-message {
            p {
              color: $text-muted;
            }
          }
        }
        .user-action {
          display: flex;
          .email-favorite {
            i,
            svg {
              height: 1.25rem;
              width: 1.25rem;
              font-size: 1.25rem;
              vertical-align: text-top;
              color: $text-muted;
              &.favorite {
                fill: $warning;
                stroke: $warning;
              }
            }
          }
        }
      }
      .no-results {
        display: none;
        padding: 1.5rem;
        text-align: center;
        &.show {
          display: block;
        }
      }
      .ps__rail-y {
        z-index: 2;
      }
    }
  }
  // Action area of email list section
  .app-action {
    padding: 0.9rem ($spacer + 0.5);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    background-color: $white;
    .action-right {
      ul {
        li:not(:last-child) {
          margin-right: 1rem;
        }
      }
      .dropdown-toggle {
        color: $headings-color;
        white-space: normal;
        &::after {
          display: none;
        }
      }
    }
  }
  // On click of mail Details section slide in from right
  // Email details section starts
  .email-app-details {
    position: absolute;
    display: block;
    z-index: 2;
    visibility: hidden;
    top: 0;
    width: calc(100% - #{$menu-expanded-width} - 164px);
    background-color: $white;
    transform: translateX(100%);
    transition: all 0.25s ease, color 0s;
    height: 100%;
    &.show {
      visibility: visible;
      transition: all 0.25s ease, color 0s;
      transform: translateX(0%);
    }
    .email-detail-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 4px 6px rgba($black, 0.04);
      border-bottom: 1px solid $kbd-bg;
      position: relative;
      padding: 0.5rem 2rem;
      background-color: #f8f8f8;
      height: $email_details_header_height;
    }
    .email-header-left {
      .email-subject {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .email-header-right {
      .dropdown-toggle,
      .action-icon {
        color: $body-color;
      }
    }
    // Email detail scroll area
    .email-scroll-area {
      padding: 0 2rem;
      position: relative;
      height: calc(100% - #{$email_details_header_height});

      .email-detail-head {
        border-bottom: 1px solid $border-color;
        .mail-meta-item {
          .dropdown {
            line-height: 0;
          }
        }
      }
      .email-label {
        margin: 2rem 0;
      }
      .email-info-dropup {
        .dropdown-toggle::after {
          left: -2px;
          margin: 0;
          background-image: url(str-replace(str-replace($chevron-down, 'currentColor', $text-muted), '#', '%23'));
          background-size: 0.857rem;
        }
        .dropdown-menu {
          padding: 0.5rem;
        }
      }
    }
  }

  #compose-mail {
    .compose-mail-form-field {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.12rem $modal-header-padding-x;
      border-bottom: 1px solid $modal-footer-border-color;
      .select2-container--open {
        box-shadow: none;
      }
      .select2-selection--multiple,
      .form-control {
        border: 0;
        background-color: transparent;
        &:focus {
          box-shadow: none !important;
          background-color: transparent;
        }
      }
      .select2-selection--multiple {
        min-height: 42px !important;
        .select2-selection__rendered li .select2-search__field {
          margin-top: 10px;
        }
      }
      .select2-selection__choice__remove:before {
        top: 40%;
      }
      label {
        margin-bottom: 0;
        font-size: $font-size-base;
      }
    }
    .ql-editor {
      min-height: 250px;
    }
    .ql-container,
    .ql-toolbar {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $border-color;
      .ql-picker.ql-expanded .ql-picker-options {
        bottom: 100%;
        top: auto;
      }
    }
    .compose-footer-wrapper {
      padding: $modal-inner-padding;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
@include media-breakpoint-down(md) {
  .email-application {
    .content-area-wrapper {
      .sidebar-left {
        position: relative;
        .email-app-sidebar {
          transform: translateX(-110%);
          transition: all 0.3s ease-in-out;
          position: absolute;
          left: 0;
          border-top-left-radius: $border-radius-sm;
          border-bottom-left-radius: $border-radius-sm;
        }
        &.show {
          .email-app-sidebar {
            transform: translateX(0%);
            transition: all 0.3s ease;
          }
        }
      }
      .content-right {
        width: 100%;
        border-left: 0;
        .app-fixed-search {
          border-top-left-radius: $border-radius;
        }
        .email-app-details {
          width: 100%;
          border-radius: $border-radius;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .email-application #compose-mail .ql-editor {
    min-height: 150px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  .email-application {
    .email-detail-head .mail-meta-item {
      display: flex;
      justify-content: space-between;
      margin-left: 4rem; // Spacing from left according to avatar image
      .mail-date,
      .mail-time {
        margin: 1rem 0.75rem 0 0;
      }
    }
    .content-area-wrapper {
      .content-right .email-app-details {
        .email-scroll-area {
          padding: 0 1rem;
        }

        .email-detail-header {
          padding: 0.5rem 1rem;
        }
      }
      .email-user-list {
        .email-media-list li .mail-details {
          display: block;
          .mail-items {
            width: 70%;
            display: inline-grid;
          }
          .mail-meta-item {
            width: 15%;
            position: absolute;
            right: 1rem;
            top: 1.5rem;
            i,
            svg,
            .bullet {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 359.98px) {
  .email-application .content-area-wrapper .sidebar .email-app-sidebar {
    width: 230px;
  }
  .email-application .email-app-details .email-detail-header {
    padding: 0 0.5rem;
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

// RTL Style
html[data-textdirection='rtl'] {
  .email-application {
    .email-app-details {
      .email-prev,
      .email-next {
        .action-icon i,
        .action-icon svg {
          transform: rotate(180deg);
        }
      }
      .go-back {
        i,
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.broadcom_align{
  display: flex !important;
  justify-content: space-between !important;
  .MuiListItem-root {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
  }
}
.badge-pill{
padding: 0.6em !important;
}

.MuiBreadcrumbs-li a{
color: #5e5873 !important;
}

.dropdown_icon{
  border: 2px solid #444444 !important;
  border-radius: 50%;
}
.bottom_border{
  border-bottom: 1px solid #ebe9f1 !important;
}

.sidebar_search{
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
  padding-right: 10px;
}

.border_top_none
{
 border-top: 0px !important;
}
.border_bottom_none
{
  border-bottom: 0px !important;
}


.side-navbar a{
  color: #6b657e;
}

.side-navbar>li, .active>a, .active>a>h5
{
  color: #f73022 !important;
}
.padding-none{
  padding: 0px !important;
}

.side-navbar>li{
  padding: 0px !important;
}
.light-gray-bg
{
  background-color: #f8f8f8 !important;
}


.float-right
{
  float: right !important;
}
.mr20{
  margin-right: 20px;
}
.mt5{
  margin-top: 5px;
}



.create-thread{ 
  height: 100% !important;
   .media{
  padding: 8px 15px;
  align-items: center !important;
  .media_text{
    margin-left: 10px;
    
      .new_thread{
        margin-bottom: 0;
        font-size: 12pt;
        font-family: Helvetica Neue, Bold;
        color: #a3a4a5;
        
      }
     small{
      color: #a3a4a5!important;
    font-size: 10pt;
    font-family: "Helvetica Neue", "Regular" !important;
    }
  }
  .img{
    padding: 0px 10px 0px 10px;
  }
}

}



.MuiInputBase-root{
  color:#707070 !important;
}

.thread-model{
  display: grid;
  align-items: center;
  margin-top: 10px;
  .img{
    margin: auto;
    height: 35px;
    width: 35px;
  }
  .MuiFormControl-root{
    width: 100%;
    margin-bottom: 22px;
    label{
      font-size: 12pt !important;
      font-family: "Helvetica Neue", "Regular" !important;
      color: #999999;
  
    }
    .MuiInput-underline:hover:not(.Mui-disabled):before
    {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
    }
    .MuiInput-underline:before
    {
      left: 20px !important;
    }
    .MuiInput-underline:after
    {
      left: 20px !important;
    }
    .MuiInputAdornment-root img
    {
      height: 25px;
    }
  }

  h5{
    color: #000000;
    text-align: center;
    margin-top: 15px;
    font-family: "Helvetica Neue", "Bold" !important;
    font-size: 15pt;
  }
  p{
    font-family: "Helvetica Neue", "Regular" !important;
    font-size: 12pt;
    color: #707070;
  }
  button{
    background-color: #6AC517 !important;
    border-color: #6AC517 !important;
    border-radius: 6pt;
  }
  .button_send_request
  {
    display: table !important;
    width: 100%;
    text-align: center;
    button{
      svg{
        margin-left: 5px !important;
      }
    }
  }
}
.MuiInputAdornment-root svg
{
  color: #707070 !important;
}
.thread-model-footer
{
  display: table;
    /* width: 100%; */
    text-align: center;
  button{
    color: #FF0000;
    text-align: center; 
  }
}

.details_svg{
  border: 2px solid #444444 !important;
    border-radius: 50%;
}

.email-app-details
{
  .app-fixed-search
{
  background: #f8f8f8 !important;
  border-bottom: 0px !important;
}
.scrollbar-container
{
  // email-scroll-area
  padding: 0 !important;
}
.topic_details{
  padding: 0  2rem !important;
  background-color: #F5F5F5 !important;
  p{
    font-size: 12pt;
    font-family: "Helvetica Neue", "Medium" !important;
  }
  .media{
    margin: 15px 0px 5px 0px;
    align-items: center !important;
    gap:5px;
    .avatar{
      margin-right: 5px;
    }
    .user_name{
      color: #707070;
      /* font-weight: 600; */
      font-size: 13pt;
      font-family:"Helvetica Neue", "Bold" !important;
  
    }
    .text-muted{
      font-family:"Helvetica Neue" !important;
      font-size: 12pt;
     
    }
  }
  .media-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 13pt;
    font-family: "Helvetica Neue", "Medium" !important;
    .text-muted{
    img{
      margin-right: 10px !important;
    }
  }
  }

}




.pdf_view{
  margin-top: 10px !important;
  // width: max-content;

  // img{
  //   height: 30px;
  //   width: 30px;
  //   border-radius: 8px 0px 0px 8px;
  //   margin-top: -5px;
  // }

.pdf_text{
  // padding: 10px 5px 8px 0px;
    // background: #fff;
    border-radius:8px;
    display: flex;
    align-items: center;

    .pdf-img{
      background: #ff1919 !important;
      // padding: 10px 5px 8px 0px;
      border-radius: 8px;
      display: grid;
      padding: 3px;
      width: 40px;
      img{
        margin: auto;
      }
      .size{
        font-family: "Helvetica Neue", "Medium";
        color: #ffff;
        font-size: 7pt;
        text-align: center;
      }
    }
    .view{
      display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    .pdf-title
    {
      padding: 0px 10px 0px 10px;
      
    }
    }
}

}

}

.comment_details{
  padding: 0 2rem !important;
  .media{
    margin-top: 15px;
    align-items: center !important;
     gap: 10px;
  margin-bottom: 10px;
  .user_name{
    font-family: "Helvetica Neue", "Bold" !important;
    font-size: 13pt;
    color: #707070;
  }
  .text-muted{
    font-family:" Helvetica Neue" !important;
    font-size: 12pt;
  
  }

  }
p{
  font-size: 12pt;
    font-family: "Helvetica Neue", "Regular" !important;
    color: #222222;
}
}

.comment
{
  padding: 0 2rem !important;
  margin-bottom: 30px;
.media-body{
  color: #999999 !important;
    font-size: 12pt;
    font-family:"Helvetica Neue", "Medium" !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  svg{
    margin-right: 10px;
  }
}
  .comment_box{
    border: 1px solid #D9DCE1;
    border-radius: 12px;
}
  .MuiFormControl-root
  {
    margin-top: 15px;
    padding: 10px 10px;
    width:100%;
    .MuiInput-underline:after
    {
      border: 0px !important;
    }
    .MuiInput-underline:before
    {
      border: 0px !important;
    }
  }

  .comment_attachment
  {
    background: #EE3224;
    border-radius: 0px 12px 0px 12px;
    label{
      color: #ffff;
      font-size: 10pt !important;
      font-family: "SF Pro Text", "Medium" !important;
      svg{
        margin-right: 8px;
      }
      }

  }
  .comment_buttons
  {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

  .btn_send_request
  {
   
    button{
      border-radius: 12px 0px 12px 0px !important;
      background: #BBBBBB !important;
      border-color: #BBBBBB !important;
      span{
        font-family: "SF Pro Text", "Medium" !important;
        font-size: 10pt;
        margin-right: 10px;
      }
      svg{
        margin-left: 5px !important;
      }
    }
  }
}
  
}

.sidebar {
  .email-app-sidebar {
    .broadcom_align{
      .MuiListItemText-inset
      {
        padding-left:12px !important;
        .MuiTypography-body1
        {
          font-size: 15pt !important;
        color: #EE3224 !important;
        line-height: 1.5;
        font-family:" F Pro Text", "Medium" !important;



        }
      }

    }
  }
}
//--------------------------side navbar css------------------------------------------------//


.web-navbar
{
  ul, li{
      min-height: 100px;
      svg{
        margin: 10px 0px 10px 0px;
      }
      h5{
        font-size: 14pt;
    font-family: Helvetica Neue, Medium;

      }
    };
}

//--------------------------TEXT---------------------------//@at-root
.topic_navbar{
  .menu{
    display: flex;
    align-items: center;
    .title{
      font-size: 15pt;
      padding-left: 12px;
      color: #222222;
      font-family: "SF Pro Text", "Medium" !important;

    }
  }
  .topic_title
  {
    font-size: 12pt;
    font-family: "SF Pro Text" !important;
  }
  .email-media-list
  {
    .media{
      .media-body
      {
        p{
          font-family:" Helvetica Neue", "Medium" !important;
           font-size: 12pt;
        }
        .mail-details, .mail-items{
          .media{
               align-items: center !important;
               h5{
                font-family: "Helvetica Neue", "Bold" !important;
                font-size: 14pt;
                color: #707070;
               }
               h6{
                font-size: 12pt;
                font-family: "Helvetica Neue", "Regular" !important;
                color: #999999 !important;
               }
          }
          .media-body{
            font-size: 13pt;
            font-family: "Helvetica Neue", "Regular";
            color: #999999 !important;
          }

        }
      }
    }
  }
}

//--------------------------//
.top-header
{
  display:table;
  width: 100%;
  text-align: center;
  h4{
    color:#191617;
     font-family:"SF Pro Text", "Medium";
       display: table-cell;
        vertical-align:middle;
        img{
          margin-right: 15px;
    height: 25px;
        }
  }
}

.details_navbar
{
.img{
    height: 25px ;
  }
}
.back_arrow{
  height: 25px;
}

.delete_btn:hover{
  background-color:#fff !important;

}

.delete_btn:focus
{
      outline: 0 !important; 
   outline: 0 !important;
}
.content{
margin-left: 0px !important;
}
